$color:
#6d0396ba
//  #e84b82
 ;

$transition-time: .5s;
p a {
font-weight: 750;
  color: #4d1d80ad;
  font-family: 'Khand', sans-serif;
  text-transform: uppercase;
  font-size:3em !important;
  line-height: normal!important;
   display: inline-block;
    text-decoration: none;
    overflow: hidden;
    vertical-align: top;
    -webkit-perspective: 600px;
    -ms-perspective: 600px;
    perspective: 600px;
    -webkit-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    &:hover span {
      background: 
      // #e84b82
#7a07a794;
      -webkit-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
      -ms-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
      transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
    }

    span {
      font-family: 'Khand', sans-serif;
      text-transform: uppercase;

      display: block;
      position: relative;
      padding: 0 3px;
      -webkit-transition: all .5s ease;
      -ms-transition: all .5s ease;
      transition: all .5s ease;
      -webkit-transform-origin: 50% 0%;
      -ms-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
      -webkit-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      transform-style: preserve-3d;
      &:after {
        content: attr(data-title);
        border: thin solid #723f86;

        display: block;
        position: absolute;
        left: 0;
        top: 0;
        // padding: 0 3px;
        color: #fff;
        background:
        #723f86 
        // #e84b82
        ;
        -webkit-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
        -ms-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
        transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
      }
    }
}
